{% extends 'base.html' %}

{% block content %}
    <h1>Bird Details</h1>

    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ bird.name }}</span>
                <p>{{ bird.breed }}</p>
                <p>Description: {{ bird.description }}</p>
                {% if bird.age > 0 %}
                <p>Age: {{ bird.age }}</p>
                {% else %}
                <p>Age: Baby Bird</p>
                {% endif %}
            </div>
            <div class="card-action">
                <a href="{% url 'bird_update' bird.id %}">Edit</a>
                <a href="{% url 'bird_delete' bird.id %}">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}